.container{
    display: grid;
    grid-template-areas: "cabecalho cabecalho"
    "lateral conteudo"
    "rodape rodape"
    ;
    grid-template-columns: 30% 60%;
    grid-template-rows: 30px 80px 30px;
    text-align: center;
    gap: 20px 50px;
    justify-items: center;
    /* stretch: estica os itens horizontalmente para preencher a célula start inicia 
    da esquerda
    end inicia da direita 
    center centraliza tudo
    justify-item alinha cada item dentro da usa própia área, já o
    justify-content alinha horizontalmente as areas em relação ao container */
    align-items: center;
}

.cabecalho{
    grid-area: cabecalho;
    border: 1px solid;
}
.lateral{
    grid-area: lateral;
    border: 1px solid;
}
.conteudo{
    grid-area: conteudo;
    border: 1px solid;
}
.rodape{
    grid-area: rodape;
    border: 1px solid;
}